:host {
	display: block;
	margin-bottom: 20px;

	.product-container {
		display: flex;
		flex-direction: column;
		max-width: 10vw;

		.product-name {
			font-weight: 600;
		}

		.category {
			margin-bottom: 5px;
		}
	}
}
