:host {
	display: block;
	margin-bottom: 10px;

	.cart-item-container {
		border: 2px solid lightgray;
		border-radius: 5px;
		padding: 5px;

		.cart-item-name-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.cart-item-price-label {
		margin-right: 5px;
	}
}
