:host {
	display: block;
	min-width: 200px;

	.cart-items-container {
		min-height: 50vh;
	}

	.total-container {
		display: flex;
		flex-direction: column;

		.total-price,
		.products-amount {
			font-weight: 600;
		}
	}
}
