<h2>Cart</h2>
<ng-container *ngIf="cartProducts.length; then cartListBlock; else emptyCartBlock"></ng-container>
<ng-template #cartListBlock>
	<div class="cart-items-container">
		<shop-cart-item *ngFor="let cartProduct of cartProducts"
			[cartItem]="cartProduct"
			(removeClicked)="onRemoveClicked($event)">
		</shop-cart-item>
	</div>
	<span class="total-price">Total: {{ cartProductsTotalPrice$ | async }}</span>
	<button (click)="onClearCartClick()">Clear cart</button>
</ng-template>
<ng-template #emptyCartBlock>
	<p>Cart is empty</p>
</ng-template>
